table {
    border: 1px solid;
    background-color: white;
    border-collapse: collapse;
}
h1{
    color: rgb(129, 81, 151);
}

thead{
    background-color: rgb(182, 138, 202);
}

#bigger{
    height: 200px;
}

tr { 
    border: solid;
    border-width: 1px 0;
}
  